/* Importa o nosso novo sistema de design */
@import url('./theme.css');

/* Importa a fonte 'Inter' do Google Fonts para uma aparência mais moderna */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Reset Básico e Estilos Globais */
body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background-alt);
  color: var(--color-text-primary);
}

* {
  box-sizing: border-box;
}