# Dependências e Logs
node_modules/
npm-debug.log

# Pasta de build do React
client/build

# Arquivos de ambiente (vamos usar no futuro)
.env

# Chaves Secretas
server/bariplus-oficial-firebase-adminsdk-fbsvc-029e80f1f6.json