# Ficheiro de variáveis de ambiente
.env
*.env
.env.*

# Dependências
/node_modules
/server/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de build do React
/build

# Ficheiros de sistema
.DS_Store