# Dependências e Logs
node_modules/
npm-debug.log

# Pasta de build do React
client/build

# Arquivos de ambiente (vamos usar no futuro)
.env

# Chaves Secretas
server/bariplus-app-firebase-adminsdk-fbsvc-e6d98f3d96.json