/* src/index.css */
@import url('./theme.css'); /* Garante que as variáveis de cor e espaçamento são carregadas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

* {
  box-sizing: border-box;
}

/* Classes globais para o layout da página */
.page-container {
  padding: var(--space-xl);
}

.page-header {
    margin-bottom: var(--space-lg);
}

.page-header h1 {
    font-size: 2rem;
    color: var(--color-text-strong);
    margin: 0 0 5px 0;
}