.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #ffffff;
  padding: 10px 40px; /* Ajuste o padding se necessário */
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-logo {
  height: 50px; /* Altere a altura da logo se desejar */
  width: auto;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #37715b; /* Verde escuro da sua logo */
  font-weight: 600;
  transition: color 0.2s;
}

.navbar nav a:hover {
  color: #204a38; /* Um tom mais escuro para o hover */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f7f6; /* Fundo geral cinza bem claro */
}